<ul id="slide-out" class="side-nav fixed z-depth-2">
  <li class="center no-padding">
    <div class="indigo darken-2 white-text" style="height: 180px;">
      <div class="row">
        <div style="margin-top:5%"></div>
        <p style="margin-top: -13%;padding-top:65px">
          Ecommercy
        </p>
      </div>
    </div>
  </li>

  <li id="dash_dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="waves-effect" routerLink="/admin"><b>Dashboard</b></a></li>
  <li id="dash_dashboard" routerLinkActive="active"><a class="waves-effect" routerLink="/admin/users"><b>Utilisateurs</b></a></li>

  <ul class="collapsible" data-collapsible="accordion">

    <li id="dash_products">
      <div id="dash_products_header" class="collapsible-header waves-effect"><b>Produits</b></div>
      <div id="dash_products_body" class="collapsible-body">
        <ul>
          <li id="products_product">
            <a class="waves-effect" style="text-decoration: none;" routerLink="/admin/products">Produits</a>
            <a class="waves-effect" style="text-decoration: none;" routerLink="/admin/products/add">Ajouter Produit</a>
          </li>
        </ul>
      </div>
    </li>

    <li id="dash_categories">
      <div id="dash_categories_header" class="collapsible-header waves-effect"><b>Categories</b></div>
      <div id="dash_categories_body" class="collapsible-body">
        <ul>
          <li id="categories_category">
            <a class="waves-effect" style="text-decoration: none;" routerLink="/admin/categories">Categories</a>
          </li>

          <li id="categories_sub_category">
            <a class="waves-effect" style="text-decoration: none;" routerLink="/admin/categories/add">Ajouter Categorie</a>
          </li>
        </ul>
      </div>
    </li>

    <li id="dash_brands">
      <div id="dash_brands_header" class="collapsible-header waves-effect"><b>Marques</b></div>
      <div id="dash_brands_body" class="collapsible-body">
        <ul>
          <li id="brands_brand">
            <a class="waves-effect" style="text-decoration: none;" routerLink="/admin/marques">Marques</a>
          </li>

          <li id="brands_sub_brand">
            <a class="waves-effect" style="text-decoration: none;" routerLink="/admin/marques/add">Ajouter Marque</a>
          </li>
        </ul>
      </div>
    </li>
    <li id="dash_dashboard" routerLinkActive="active"><a class="waves-effect" routerLink="/admin/commandes"><b>Commandes</b></a></li>
    <li id="dash_dashboard" routerLinkActive="active"><a class="waves-effect" routerLink="/admin/messages"><b>Messages</b></a></li>
  </ul>
</ul>
