<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grid">
			<h3>A propos de nous</h3>
			<p>Nam libero tempore, cum soluta nobis est eligendi 
				optio cumque nihil impedit quo minus id quod maxime 
				placeat facere possimus.</p>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Menu</h3>
			<ul>
				<li><a routerLink="/">Accueil</a></li>
				<li><a routerLink="/about">A propos de nous</a></li>
				<li><a routerLink="/contact">Contactez-nous</a></li>						 
				<li><a routerLink="/register">S'inscrire</a></li> 
				<li><a routerLink="/login">Se connecter</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Categories</h3>
			<ul>
				<li *ngFor="let c of categories">
					<a [routerLink]="'/category/' + c.ID">{{c.TITLE}}</a>
				</li>						 
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Marques</h3>
			<ul>
				<li *ngFor="let m of marques">
					<a [routerLink]="'/marque/' + m.ID">{{m.TITLE}}</a>
				</li>						 
			</ul>
		</div>
		<div class="clearfix"></div>
			<div class="footer-bottom">
				<h2 ><a href="index.html"><b>E</b>Commercy<span>La boutique n: 1</span></a></h2>
				<p class="fo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
				<ul class="social-fo">
					<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>12K Street , 45 Building Road Canada.</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>	
					</div>
					<div class="col-md-4 fo-grid1">
						<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@example1.com</a></p>
					</div>
					<div class="clearfix"></div>
					
					</div>
			</div>
		<div class="copy-right">
			<p> &copy; 2017 eCommercy. Tous droits reserves | Par AKHOUAD &amp; AIT DAHMANE</p>
		</div>
	</div>
</div>

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //footer-->
