<main>	
	<div class="row">
		<div class="col">
			<h5 class="blue-text">Ajouter une marque</h5>
		</div>
	</div>
	<div class="row">
		<div class="col s6">
			<div class="row">
		        <div class="input-field col s12">
		          <input type="text" [(ngModel)]="title">
		          <label for="first_name">Titre</label>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<a class="waves-effect waves-light btn" (click)="add()">Ajouter</a>
		</div>
	</div>
</main>