<main>
    <div class="row">
      <div class="col s6">
	    <div style="padding: 35px;" align="center" class="card">
	      <div class="row">
	        <div class="left card-title">
	          <b>Utilisateurs</b>
	        </div>
	      </div>

	      <div class="row">
	        <a routerLink="/admin/users">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">people</i>
	            <span class="indigo-text text-lighten-1"><h5>Utilisateurs</h5></span>
	          </div>
	        </a>
	        <div class="col s1">&nbsp;</div>
	        <div class="col s1">&nbsp;</div>

	        <a routerLink="/admin/users">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">person</i>
	            <span class="indigo-text text-lighten-1"><h5>Ajouter</h5></span>
	          </div>
	        </a>
	      </div>
	    </div>
	  </div>
      <div class="col s6">
	    <div style="padding: 35px;" align="center" class="card">
	      <div class="row">
	        <div class="left card-title">
	          <b>Produits</b>
	        </div>
	      </div>

	      <div class="row">
	        <a routerLink="/admin/products">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">store</i>
	            <span class="indigo-text text-lighten-1"><h5>Produits</h5></span>
	          </div>
	        </a>
	        <div class="col s1">&nbsp;</div>
	        <div class="col s1">&nbsp;</div>

	        <a routerLink="/admin/products/add">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">assignment</i>
	            <span class="indigo-text text-lighten-1"><h5>Ajouter</h5></span>
	          </div>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
    <div class="row">
      <div class="col s6">
	    <div style="padding: 35px;" align="center" class="card">
	      <div class="row">
	        <div class="left card-title">
	          <b>Categories</b>
	        </div>
	      </div>

	      <div class="row">
	        <a routerLink="/admin/categories">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">view_list</i>
	            <span class="indigo-text text-lighten-1"><h5>Categories</h5></span>
	          </div>
	        </a>
	        <div class="col s1">&nbsp;</div>
	        <div class="col s1">&nbsp;</div>

	        <a routerLink="/admin/categories/add">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">view_list</i>
	            <span class="indigo-text text-lighten-1"><h5>Ajouter</h5></span>
	          </div>
	        </a>
	      </div>
	    </div>
	  </div>
      <div class="col s6">
	    <div style="padding: 35px;" align="center" class="card">
	      <div class="row">
	        <div class="left card-title">
	          <b>Marques</b>
	        </div>
	      </div>

	      <div class="row">
	        <a routerLink="/admin/marques">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">local_offer</i>
	            <span class="indigo-text text-lighten-1"><h5>Marques</h5></span>
	          </div>
	        </a>
	        <div class="col s1">&nbsp;</div>
	        <div class="col s1">&nbsp;</div>

	        <a routerLink="/admin/marques/add">
	          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
	            <i class="indigo-text text-lighten-1 large material-icons">loyalty</i>
	            <span class="indigo-text text-lighten-1"><h5>Ajouter</h5></span>
	          </div>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
  </main>