<div class="container">
		<div  class="about">
	<div class="spec ">
				<h3>A propos de nous</h3>
					<div class="ser-t">
						<b></b>
						<span><i></i></span>
						<b class="line"></b>
					</div>
			</div>
			
			<div class="col-md-4 about-right">
			<img class="img-responsive" src="../../assets/images/ab.jpg" alt="">
			</div>
			<div class="col-md-4 about-left">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque. Pellentesque eleifend tellus at interdum elementum. Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat tincidunt at vel nibh. Duis ut turpis mi. Duis nec scelerisque urna, sit amet varius arcu. Aliquam aliquet sapien quis mauris semper suscipit. Maecenas pharetra dapibus posuere. Praesent odio sem.  </p>
			</div>
			<div class="col-md-4 about-right">
			<img class="img-responsive" src="../../assets/images/ab1.jpg" alt="">
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
